.hfxd-box{margin-top:25px;}
.hfxd-box img{max-width: 100%;}
.hfxd-box .title{height:60px;line-height: 60px;padding-left:20px;background: #e8f1f7;font-size:20px;color:#006eab;font-weight: bold;}
.form-con{border-left:1px solid #e6e6e6;border-right:1px solid #e6e6e6;}
.form-con li{border-bottom:1px solid #e6e6e6;}
.form-con li span{float: left; font-weight: bold;color:#000; font-size: 16px; width:160px;display: block;text-align: center;}
.form-con li p{float: left;border-left:1px solid #e6e6e6;width:996px;font-size:16px;}
.form-con .li1{height:50px;line-height: 50px;}
.form-con .li1 p{padding-left:20px;}
.form-con .li2 p{padding:25px 20px;line-height: 30px;}
.form-con .li2 span{padding-top:30px;}




.content{margin-top:25px!important;}
.content .title{height:60px!important;line-height: 60px!important;padding-left:20px!important;background: #e8f1f7!important;font-size:20px!important;color:#006eab!important;font-weight: bold!important;}
.details-main .content table, .details-main .content tr, .details-main .content td{border: 1px solid #e6e6e6;}
.xf-box{border-left:1px solid #e6e6e6!important;border-right:1px solid #e6e6e6!important;margin-bottom:30px!important;}
.xf-box tr{height:50px!important;border-bottom: 1px solid #e6e6e6!important;background: none!important;}
.xf-box tr th{font-weight: bold!important;color:#000!important; font-size: 16px!important; width:160px!important;padding-top:12px!important;line-height: 30px!important;}
.xf-box tr td{ border-left: 1px solid #e6e6e6!important;width: 1007px!important;font-size: 16px!important; padding:12px 15px!important;line-height: 30px!important;}






























